node_modules

._*
*.example
.thumbs
.idea
.DS_Store
.sass-cache
.vscode
.ddev/providers
.ddev/commands/*
!.ddev/commands/web
.ddev/commands/web/*
!.ddev/commands/web/flow
.ddev/postgres
.ddev/web-build

/phpstan.neon
!/phpstan.neon.example
/*.txt
/*.rst
/flow
/flow.bat

/bin
/Build
/Configuration
/Data
/dump
/Packages
/_Resources

/DistributionPackages/**/Resources/Private/Templates/InlineAssets/*
!/DistributionPackages/**/Resources/Private/Templates/InlineAssets/*.html
/DistributionPackages/**/Resources/Public/Scripts/*
/DistributionPackages/**/Resources/Public/Styles/*
/DistributionPackages/**/Resources/Public/Modules/*

/Web/_Resources
/Web/index.php
/Web/robots.txt
/Web/.htaccess
